@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid {
    margin: 10% auto 8% auto;
    display: grid;
    width: 112em;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: start;
}

.grid-item {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.2s;
    max-height: 45em;
}

.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.40);
}

.card-img {
    display: block;
    width: 100%;
    height: 25rem;
    object-fit: fill;
}

.card-content {
    padding: 3rem;
}

.card-header {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.card-header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ffe39d, #ff8000);
}

.card-text {
    margin-top: 5px;
    font-size: 15px;
}

@media only screen and (max-width: 60em) {
    body {
        padding: 3rem;
    }

    .grid {
        grid-gap: 3rem;
    }
}